PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/lesssocial
JWT_ACCESS_SECRET=changeMeAccessSecret
JWT_REFRESH_SECRET=changeMeRefreshSecret
FRONTEND_URL=http://localhost:3001
LOG_LEVEL=info
